<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Vue</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./styles.css">


</head>

<body>

    <div class="container-fluid">

        <!--Importante!! la clase offset, me indica cuántas columnas debo desplazarme dentro del espacio disponible-->
        <div id="taskApp" class="col-sm-8 offset-sm-2">
            <h2 class="display-4 text-center bg-transparent">
                <!--Imprimiendo el mensaje que hemos mandado desde el objeto Vue-->
                {{nameApp}}
            </h2>



            <div class="panel panel-default">
                <h3 class="text-center text-capitalize">Agregar nueva tarea</h3>

                <!--Directiva v-on:submit permite enviar datos hacia la lógica de Vue-de manera muy simple-->
                <form class="form-group" v-on:submit="agregarTarea">

                    <!--Directiva v-model: permite pasar un modelo la Javascript,NOTA: El modelo 
                        Debe ser previamente declarado en el Javascript
                    -->
                    <input type="text" name="" class="form-control" id="" v-model="tareas.titulo" required>
                    <input type="submit" value="Agregar Tarea" class="btn btn-block btn-outline-success">

                </form>
            </div>
            <br>
            <table class="table table-striped">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>Hecho</th>
                        <th>Tarea</th>
                        <th>Eliminar</th>

                    </tr>
                </thead>
                <tbody>
                    <!--La directiva v-for me permite recorrer el objeto de tareas que he traído desde javascript-->
                    <tr v-for="tarea in tareas">
                        <td>
                            <!--Directiva v-model me permite manipular un modelo específico, en este caso,
                                Estamos editando el atributo 'hecho' del modelo (tareas):
                            -->
                            <input type="checkbox" v-model="tarea.hecho">

                        </td>
                        <!--Con la directiva :class es posible agregar clases dinámicamente a nuestros elementos,
                            la sintaxis implica que primero agregues el nombre de la clase a usar, dos puntos y 
                            En seguida un valor booleado, true o false:
                        -->
                        <td :class="{terminada:tarea.hecho}">
                            {{tarea.titulo}}
                        </td>

                        <td>
                            <!--Directiva v-on:click Me permite adicionar un evento de tipo 'click'-->
                            <button class="btn btn-outline-danger" v-on:click="eliminarTarea(tarea)">Eliminar</button>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>


    </div>



    <!---Importando la CDN de VueJS, otra forma de usar el framework, por ejemplo en un proyecto diferente:-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <!--CDN de JQUERY-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!--La siempre conocida CDN de Bootstrap:-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script>
        //Instanciando un nuevo elemento VUE, que es como el inicio de todo esto:
        new Vue({
            //El punto de montaje de nuestra aplicación 'el' hace referencia a elemento y es un div html:
            el: '#taskApp',
            //Con el objeto data podemos transferir datos a nuestro HTML:
            data: {

                nameApp: 'App De Tareas En VueJS',
                //Un array de objetos con las tareas que vamos a mostrar en el HTML:
                tareas: [{
                    titulo: 'Limpiar Habitación',
                    hecho: true
                }, {
                    titulo: 'Hacer Almuerzo',
                    //Este atributo es manipulado por la directiva v-model:
                    hecho: false
                }, {
                    titulo: 'Estudiar Vue',
                    hecho: false
                }]
            },
            methods: {
                //Declarando un método en Vue JS:
                eliminarTarea: function(tarea) {

                    console.log(tarea);
                    //Obteniendo el índice del objeto:
                    let indice = this.tareas.indexOf(tarea);
                    //Eliminando el elemento:
                    this.tareas.splice(indice);
                },
                //Agrega una nueva tarea a la lista existente:
                agregarTarea: function(e) {
                    //Evita que la página se recargue:
                    e.preventDefault();

                    console.log(e);
                    //Estoy validando que el campo no esté vacío:
                    if (this.tareas.titulo.trim().length != 0) {

                        //Así de simple se añade una nueva tarea al vector, la cual se verá reflejada en pantalla:
                        this.tareas.push({
                            titulo: this.tareas.titulo,
                            hecho: false
                        });

                    }

                }

            },

        });
    </script>

</body>

</html>